DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
CONFIG_FILE=${CONFIG_FILE:-"${DIR}/custom.config"}

if [[ -f "$CONFIG_FILE" ]]; then
	. "$CONFIG_FILE"
fi

# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
# Build directories
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

# Gentoo mirror to use
MIRROR=${MIRROR:-"http://gentoo.osuosl.org"}

# Your catalyst store directory. MUST match your storedir setting in /etc/catalyst/catalyst.conf
CATALYST_DIR=${CATALYST_DIR:-"/var/tmp/catalyst"}

# The gentoo profile upon which to build the image
# profiles supported are as follows
# default/linux/amd64/13.0
# default/linux/amd64/13.0/no-multilib
# hardened/linux/amd64
# hardened/linux/amd64/no-multilib
# hardened/linux/amd64/selinux (eventually)
# hardened/linux/amd64/no-multilib/selinux (eventually)
PROFILE=${PROFILE:-"default/linux/amd64/13.0"}

# GIT repository conataining the scripts
GIT_BASE_DIR=${GIT_BASE_DIR:-$DIR}

# Output directory for your builds
OUTDIR=${OUTDIR:-"${GIT_BASE_DIR}/out"}

# Mount point
MOUNT_DIR=${MOUNT_DIR:-'/mnt'}

# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
# Build customization
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

# Use flags
STAGE4_USE=${STAGE4_USE:-"bash-completion bzip2 idm urandom ipv6 mmx sse sse2 abi_x86_32 abi_x86_64"}

# Packages that will be merged
STAGE4_PACKAGES=${STAGE4_PACKAGES:-"eix vim bc cloud-init syslog-ng logrotate vixie-cron dhcpcd sudo gentoolkit iproute2 grub:2 lsb-release gptfdisk dmidecode acpid"}

# Rc scripts
STAGE4_RCADD=${STAGE4_RCADD:-"syslog-ng|default sshd|default vixie-cron|default cloud-config|default cloud-init-local|default cloud-init|default cloud-final|default netmount|default acpid|default dhcpcd|default net.lo|default"}

# Post script to run after the stage4 is built
STAGE4_FSSCRIPT=${STAGE4_FSSCRIPT:-"${DIR}/prep.sh"}

# Add portage to the final image? (0 || 1)
# Note that if you choose not to install portage, you still can install it later by runing "sudo emerge-webrsync"
ADD_PORTAGE=${ADD_PORTAGE:-1}

# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
# Internal configs, SHOULD not be changed.
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

BUILD_DIR="${CATALYST_DIR}/builds"
PORTAGE_DIR="${CATALYST_DIR}/snapshots"
DATE=${DATE:-"$(date +%Y%m%d)"}
